# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Temp files
*.tmp

# Database files (optional depending on usage)
*.db
*.sqlite

# Jupyter (only if you add notebooks later)
.ipynb_checkpoints/

# Environment variables (just in case)
.env